*{
  box-sizing: border-box;
  color: white;
}

h1{
  color: hsl(240, 83%, 75%);
}

h2{
  color: hsl(240, 83%, 75%);
}

li{
  color: hsl(240, 83%, 75%);
}

body{
  margin: 0;
  background-image: url(images/bg.gif);
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

header{
  background-color: hsl(0, 0%, 10%);
  text-align: center;
  overflow: hidden;
}

header img{
  width: 150px;
  height: 150px;
  margin: 5px;
  margin-left: 30px;
  padding: 10px;
  display: inline-block;
}

nav{
  background-color: hsl(0, 0%, 20%);
  display: flex;
  justify-content: center;
}

.navbar ul{
  list-style-type: none;
  padding: 0px;
  margin: 0px;
  overflow: hidden;
}

.navbar a{
  text-decoration: none;
  font-size: 22px;
  color: white;
  padding: 15px 35px;
  width: 100%;
  display: inline-block;
  text-align: center;
}

.navbar li{
  float: left;
}

.navbar a:hover{ 
  text-decoration: underline;
  color: hsl(240, 83%, 75%);
}

.navbar a:active{
  opacity: 0.7;
}

.aside{
  background-color: rgba(0, 0, 0, 0.701);
  width: 40%;
  float: right;
  padding: 10px;
  margin-top: 10px;
  margin-bottom: 10px;
  border: 2px solid white;
  border-radius: 10px;
  font-size: 20px;
}

.aside img{
  width: 80%;
  transition: 1s;
}

.aside img:hover{
  width: 100%;
  transition: 1s;
}

article{
  width: 60%;
  float: left;
  padding: 10px;
}

article img{
  width: 60%;
  transition: 1s;
  margin-left: 150px;
}

article img:hover{
  width: 70%;
  transition: 1s;
}

section{
  border: 2px solid white;
  padding: 10px;
  border-radius: 10px;
  font-size: 20px;
}

.section{
  background-color: rgba(0, 0, 0, 0.701);
  margin: 20px;
}

footer{
  display: flex;
  clear: both;
  background-color: hsl(0, 0%, 10%);
  justify-content: space-between;
  align-items: center;
  padding: 25px;
}

footer #img1{
  width: 150px;
  height: 150px;
}

footer #img2{
  width: 150px;
  height: 150px;
}

.footer{
  text-align: center;
}

.footer a{
  text-decoration: none;
  font-size: 15px;
}

.footer a:hover{
  color: hsl(240, 83%, 75%);
  text-decoration: underline;
}

.footer a:active{
  opacity: 0.7;
  color: hsl(240, 83%, 75%);
}